body {
    padding:1%;
    margin: 1%;
}
header {
    background-image: url("https://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    display:block;
    height: 150px;
    text-align: center;
    background-color: #b8860b;
}
header h1 {
    color:#ffffff;
    padding-top: 1%;
}
nav a {
    text-align: center;
    font-size: 20px;
    background-color: rgba(211, 211, 211, .5);
    width: 22%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
    margin: 1%;
    color:#000000;
    text-decoration: none;
    border-radius: 10px;
}
.active {
    background-color: white;
}
.left {
    background: #b8860b;
    display:inline-block;
    width: 20%;
    height:100%;
}
.right h1 {
    display:inline-block;
}
.right p {
    display: inline-block;
    margin-top: -1px;
}
.right {
    width: 75%;
    float:right;
    margin-right: 4.5%;
}
img {
    display: block;
    width:200px;
    margin:10.5%;
    border:1px solid #000000;
}
table {
    margin: 0 auto;
    height: 300px;
    width: 700px;
}
th, td {
    border: 1px transparent;
    padding: 10px;
    margin-bottom: 10px;
    font-size: small;
}
td {
    background-color: rgba(173, 212, 170, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    text-shadow: 0.8px 0.8px #ff0000;
    cursor:crosshair;
}
th {
    background-color:rgb(147, 156, 22);
    color:#ffffff;
    border-radius: 5px 5px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
td:hover {
    opacity: 1;
}
td:nth-child(1) {
    text-align: left;
}
td:nth-child(3), td:nth-child(2) {
    text-align: center;
}
th:nth-child(1) {
    text-align: left;
}
th:nth-child(2), th:nth-child(3) {
    text-align: center;
}