body {
    margin: 2%;
}
section {
    border: black 1px solid;
    margin: 1%;
    text-align: center;
}
input {
    width: 60%;
}
label {
    width: 30%;
}
.textAlign {
    width: 20%;
}
div {
    margin: 1%;
}
h1 {
    text-align: center;
}